@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

body
{
   background: #FBF7EF;
}

.navbar 
{
   background: #fff;
   border-bottom: 1px solid #DEE2E6;
   padding: 15px 20px;
   color: #333;

   & .navbar-brand
   {
      padding: 3px 10px;
      background: #FFDD33;
      color: #000;
      font-size: 1.25em;
      font-weight: 500;
      border-radius: 5px;
   }
}

form
{
   background: #fff;
   border-radius: 10px;

   & .alert-primary
   {
      font-size: 1.25em;
      font-weight: 600;
   }
}

form#form-login
{
   margin-left: 10px;
}

table
{
   & thead
   {
      background: #CFE2FF;
      color: #084298;
   }
}